{% extends "base.html" %}

{% block title %}accounts{% endblock title %}
{% block body %}
<h2>Accounts!</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste vero beatae excepturi quis, quas laborum repellendus nam suscipit recusandae incidunt, maiores possimus hic? Veritatis earum dolores fugit maiores, consequuntur sed suscipit, nobis corrupti ullam maxime aut at necessitatibus laborum enim natus corporis vero ducimus delectus repellendus<br> deserunt voluptates architecto asperiores quam. Eius, aspernatur atque. Nobis a ex nam, perspiciatis animi repellendus doloribus esse, harum modi tenetur sapiente vitae quae et rerum facilis laboriosam fuga, eos rem repudiandae totam ea. Odio totam veritatis corrupti magni saepe? Fugiat, esse distinctio officiis nostrum repellendus illum natus, necessitatibus reprehenderit enim libero consectetur. Maiores, expedita.</p>
{% endblock body %}